
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');



body {
  color: wheat;
  background-color: wheat;
  font-family: "Nunito", 'sans';
  background: rgb(40, 40, 40);
}